{% extends "admin_temp/index.html" %}
{% load static %}
{% block content %}
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-md-12">
                        <div style="padding-bottom:10px;">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <a class="navbar-brand" href="/admin-panel/index/" style="color:skyblue;">Dashboard</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <span>/</span>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                      <a class="nav-link" href="/admin-panel/staff-table/" style="color:skyblue;">All Staff /</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Add New Staff</a>
                                    </li>
                                    
                                  </ul>
                                  <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                  </form>
                                </div>
                              </nav>
                        </div>
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Personal Information</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    {% comment %} <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item">option 1</a>
                                        <a class="dropdown-item">option 2</a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <div class="ibox-body">
                                {% if get_usr is not None %}
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            <label>Staff ID</label>
                                            <input class="form-control" type="number" name="stafid" value="{{ get_usr.staff_id }}">
                                        </div>
                                
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            <label>Name</label>
                                            <select class="form-control" name="abbreviations">
                                                <option value="{{ get_usr.abbreviations }}">{{ get_usr.abbreviations }}</option>
                                                <option value="Miss">Miss</option>
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Ms">Ms</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" name="fname" value="{{ get_usr.first_name }}" placeholder="First Name">
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" name="lname" value="{{ get_usr.last_name }}" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <label>Date of Birth</label>
                                        <input class="form-control" type="text" name="dob" value="{{ get_usr.dob }}" placeholder="dd/mm/yyyy">
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <label>Gender</label>
                                        <select class="form-control" name="gender">    
                                            <option value="{{ get_usr.gender }}">{{ get_usr.gender }}</option>                                        
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-8 form-group">
                                        <label>Start Date</label>
                                        <input class="form-control" type="text" name="start" value="{{ get_usr.start_date }}" placeholder="dd/mm/yyyy">
                                    </div>

                                    <div class="col-sm-8 form-group">
                                        <label>Role</label>
                                        <select class="form-control" name="role">                                            
                                            {% for i in get_role %}
                                            <option value="{{ i.id }}">{{ i.rol }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-8 form-group">
                                        <button class="btn btn-default" type="submit">Submit</button>
                                    </div>
                                </form>
                                {% elif get_usr is None %}
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Staff ID</label>
                                            <input class="form-control" type="number" name="stafid" value="{{ new_id }}">
                                        </div>
                                
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3 form-group">
                                            <label>Name</label>
                                            <select class="form-control" name="abbreviations">
                                                <option value="Miss">Miss</option>
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Ms">Ms</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" name="fname" placeholder="First Name">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" name="lname" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input class="form-control" type="date" name="dob" placeholder="dd/mm/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control" name="gender">                                            
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input class="form-control" type="date" name="start" placeholder="dd/mm/yyyy">
                                    </div>

                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control" name="role">                                            
                                            {% for i in get_role %}
                                            <option value="{{ i.id }}">{{ i.rol }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button class="btn btn-default" type="submit">Submit</button>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Horizontal Form</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Email address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Password</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Gender</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10 ml-sm-auto">
                                            <label class="ui-checkbox ui-checkbox-gray">
                                                <input type="checkbox">
                                                <span class="input-span"></span>Remamber me</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                

                <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Employment</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    {% comment %} <a class="fullscreen-link"><i class="fa fa-expand"></i></a> {% endcomment %}
                                </div>
                            </div>
                            {% comment %} <form method="post" enctype="multipart/form-data"> {% endcomment %}
                                {% csrf_token %}
                            <div class="ibox-body">
                                {% if get_usr is not None %}
                                <div class="col-sm-6 form-group">
                                    <label>Payroll Group</label>
                                    <select class="form-control input-lg" name="payroll">
                                        {% comment %} <option value="{{ get_usr.payroll_group.id }}">{{ get_usr.payroll_group.id }}{{ get_usr.payroll_group.group }}</option> {% endcomment %}
                                        {% for gp in get_payroll %}
                                        <option value="{{ gp.id }}">{{ gp.group }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                {% endif %}
                                <div class="col-sm-6 form-group">
                                    <label>Line Manager</label>
                                    <select class="form-control input-sm" name="line_manager">
                                        {% for pyrl in usr %}
                                        <option value="{{ pyrl.id }}">{{ pyrl.first_name }} {{ pyrl.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Leave Allowance</label>
                                    <input class="form-control input-sm" type="text" name="leave_allowance" placeholder="Leave Allowance">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Marital Status</label>
                                    <select class="form-control" name="marital_status">                                            
                                        <option value="Divorced">Divorced</option>
                                        <option value="Married">Married</option>
                                        <option value="Separated">Separated</option>
                                        <option value="Single">Single</option>
                                        <option value="Widowed">Widowed</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Dependants</label>
                                    <input class="form-control input-lg" type="number" name="dependants" placeholder="Dependants">
                                </div>
                                
                                <div class="col-sm-6 form-group">
                                    <label>NI Number</label>
                                    <input class="form-control input-lg" type="number" name="ni_number" placeholder="Ni number">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Target Hours</label>
                                    <input class="form-control input-lg" type="text" name="target_hours" placeholder="Target Hours">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Passport No</label>
                                    <input class="form-control input-lg" type="number" name="passport_no" placeholder="passport no">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Visa No</label>
                                    <input class="form-control input-lg" type="number" name="visa_no" placeholder="Visa No">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Visa Expiry Date</label>
                                    <input class="form-control input-lg" type="date" name="visa_expiry_date" placeholder="Visa Expiry Date">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>Driving Licence No</label>
                                    <input class="form-control input-lg" type="text" name="driving_licence_no" placeholder="Driving Licence No">
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>MOT Date</label>
                                    <input class="form-control input-lg" type="date" name="mot_date" placeholder="MOT date">
                                </div>
                                
                                <div class="col-sm-6 form-group">
                                    <label>Preferred Travel Type</label>
                                    <select class="form-control" name="preferred_travel_type">                                            
                                        <option value="None">None</option>
                                        <option value="Driving">Driving</option>
                                        <option value="Cycling">Cycling</option>
                                        <option value="Walking">Walking</option>
                                    </select>
                                </div>
                                
                            {% comment %} </form> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>

                






                {% comment %} Equality & Diversity {% endcomment %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-head">
                                    <div class="ibox-title">Equality & Diversity</div>
                                    <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        {% comment %} <a class="fullscreen-link"><i class="fa fa-expand"></i></a> {% endcomment %}
                                    </div>
                                </div>
                                {% comment %} <form method="post" enctype="multipart/form-data"> {% endcomment %}
                                    {% csrf_token %}
                                <div class="ibox-body">
                                    {% if get_usr is not None %}
                                    <div class="col-sm-6 form-group">
                                        <label>Ethnicity</label>
                                        <select class="form-control input-lg" name="ethnicity">
                                            <option value="{{ get_usr.ethnicity.id }}">{{ get_usr.ethnic }}</option>
                                            {% for et in ethic %}
                                            <option value="{{ et.id }}">{{ et.ethnic }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% elif get_usr is None %}
                                    <div class="col-sm-6 form-group">
                                        <label>Ethnicity</label>
                                        <select class="form-control input-lg" name="ethnicity">
                                            {% for et in ethic %}
                                            <option value="{{ et.id }}">{{ et.ethnic }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}


                                    <div class="col-sm-6 form-group">
                                        <label>Country</label>
                                        <select class="form-control input-sm" name="nationality">
                                            {% for cont in country %}
                                            <option value="{{ cont.id }}">{{ cont.country }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
    
                                    
                                    <div class="col-sm-6 form-group">
                                        <label>Sexual Orientation</label>
                                        <select class="form-control" name="sexual_orientation"> 
                                            <option value="Unknown">Unknown</option>                                           
                                            <option value="Asexual">Asexual</option>
                                            <option value="Bisexual">Bisexual</option>
                                            <option value="Heterosexual">Heterosexual</option>
                                            <option value="Homosexual">Homosexual</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label>Disability</label>
                                        <textarea class="form-control input-sm" name="disability" placeholder="Disability"></textarea>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>First Language</label>
                                        <select class="form-control input-sm" name="first_language">
                                            {% for lan in lang %}
                                            <option value="{{ lan.id }}">{{ lan.language }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-6 form-group">
                                        <label>Other Language</label>
                                        <input class="form-control input-lg" type="text" name="other_languages" placeholder="Other Language">
                                    </div>                                   
                                    
                                {% comment %} </form> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} Regions {% endcomment %}


                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Regions</div>
                                        <div class="ibox-tools">
                                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                            {% comment %} <a class="fullscreen-link"><i class="fa fa-expand"></i></a> {% endcomment %}
                                        </div>
                                    </div>
                                    {% comment %} <form method="post" enctype="multipart/form-data"> {% endcomment %}
                                        {% csrf_token %}
                                    <div class="ibox-body">

                                        <p>Select the regions that The Staff Member is available to work in.</p>
                                        
                                        
                                                            
                                        
                                    <div class="col-12">
                                        
                                        {% for reg in region %}
                                        {% comment %} <input type="checkbox" id="music" name="enjoysection" value="{{ enjoy.like }}" />&nbsp;&nbsp;{{ enjoy.like }} {% endcomment %}
                                        <label class="container">
                                            <input type="checkbox" name="region" value="{{ reg.data }}">
                                            
                                            {{ reg.data }}
                                            
                                        </label>
                                        {% endfor %}
                                        
                                    </div>
                                        
                                    {% comment %} </form> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ibox">
                                        <div class="ibox-head">
                                            <div class="ibox-title">Bank Details</div>
                                            <div class="ibox-tools">
                                                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                                {% comment %} <a class="fullscreen-link"><i class="fa fa-expand"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                        {% comment %} <form method="post" enctype="multipart/form-data"> {% endcomment %}
                                            {% csrf_token %}
                                        <div class="ibox-body">                
                                            
        
                                            <div class="col-sm-6 form-group">
                                                <label>Bank Account Number</label>
                                                <input class="form-control input-lg" type="text" name="account_info" placeholder="Account Number">
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label>Sort Code</label>
                                                <input class="form-control input-lg" type="text" name="account_info" placeholder="Sort Code">
                                            </div>
                                            
                                            
                                        {% comment %} </form> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-default" type="submit">Submit Changes</button>
                                </div>
                            </form>
                                
    

                    {% comment %} <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Form Elements</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <h4>Control sizing</h4>
                                <div class="col-sm-6 form-group">
                                    <input class="form-control input-sm" type="text" placeholder="Small">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input class="form-control" type="text" placeholder="Default">
                                </div>
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Big">
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input class="form-control" type="text" placeholder="small input group">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-addon"><i class="fa fa-link"></i></div>
                                        <input class="form-control" type="text" placeholder="large input group">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-sm">
                                        <option>Small select</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Default select</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-lg">
                                        <option>Big select</option>
                                    </select>
                                </div>
                                <div class="form-group has-success">
                                    <label class="col-form-label">Input success state</label>
                                    <input class="form-control" type="text" placeholderx="Rounded input">
                                </div>
                                <div class="form-group has-warning">
                                    <label class="col-form-label">Input warning state</label>
                                    <input class="form-control" type="text" placeholderx="Rounded input">
                                </div>
                                <div class="form-group has-error">
                                    <label class="col-form-label">Input error state</label>
                                    <input class="form-control" type="text" placeholderx="Rounded input">
                                </div>
                                <h4>With icons</h4>
                                <div>
                                    <div class="form-group">
                                        <label class="col-form-label">Default input</label>
                                        <div class="input-group-icon right">
                                            <div class="input-icon"><i class="fa fa-info-circle"></i></div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-form-label">Input success state</label>
                                        <div class="input-group-icon right">
                                            <div class="input-icon"><i class="fa fa-check"></i></div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group has-warning">
                                        <label class="col-form-label">Input warning state</label>
                                        <div class="input-group-icon right">
                                            <div class="input-icon"><i class="fa fa-warning"></i></div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group has-error">
                                        <label class="col-form-label">Input error state</label>
                                        <div class="input-group-icon right">
                                            <div class="input-icon"><i class="fa fa-exclamation"></i></div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

                </div>
                <div>
                    <a class="adminca-banner" href="http://admincast.com/adminca/" target="_blank">
                        <div class="adminca-banner-ribbon"><i class="fa fa-trophy mr-2"></i>PREMIUM TEMPLATE</div>
                        <div class="wrap-1">
                            <div class="wrap-2">
                                <div>
                                    <img src="./assets/img/adminca-banner/adminca-preview.jpg" style="height:160px;margin-top:50px;" />
                                </div>
                                <div class="color-white" style="margin-left:40px;">
                                    <h1 class="font-bold">ADMINCA</h1>
                                    <p class="font-16">Save your time, choose the best</p>
                                    <ul class="list-unstyled">
                                        <li class="m-b-5"><i class="ti-check m-r-5"></i>High Quality Design</li>
                                        <li class="m-b-5"><i class="ti-check m-r-5"></i>Fully Customizable and Easy Code</li>
                                        <li class="m-b-5"><i class="ti-check m-r-5"></i>Bootstrap 4 and Angular 5+</li>
                                        <li class="m-b-5"><i class="ti-check m-r-5"></i>Best Build Tools: Gulp, SaSS, Pug...</li>
                                        <li><i class="ti-check m-r-5"></i>More layouts, pages, components</li>
                                    </ul>
                                </div>
                            </div>
                            <div style="flex:1;">
                                <div class="d-flex justify-content-end wrap-3">
                                    <div class="adminca-banner-b m-r-20">
                                        <img src="./assets/img/adminca-banner/bootstrap.png" style="width:40px;margin-right:10px;" />Bootstrap v4</div>
                                    <div class="adminca-banner-b m-r-10">
                                        <img src="./assets/img/adminca-banner/angular.png" style="width:35px;margin-right:10px;" />Angular v5+</div>
                                </div>
                                <div class="dev-img">
                                    <img src="./assets/img/adminca-banner/sprite.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
{% endblock content %}