<!DOCTYPE html>
{% extends "admin_temp/capacity.html" %}
{% load static %}
{% block content %}

        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <div style="padding-top:10px;padding-bottom: 0px;">
                    
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/admin-panel/index/" style="color:skyblue;">Dashboard</a>
                        
                        <span>/</span>
                        <a class="nav-link" href="#" style="color:skyblue;">Finance </a>
                        <span>/</span>
                        <a class="nav-link" href="#" style="color:skyblue;">Plan </a>
                        <span>/</span>
                        <a class="nav-link" href="#" style="color:#c5c5c5;">Regular Visits</a>
                      </nav>
                </div>
            </div>

            
            <div class="page-content fade-in-up">
                <div class="ibox" style="height:120px;">
                    <div class="ibox-head">
                        <div class=""><strong>Filter Selection</strong> - use the filters to filter the Visits shown below</div>
                    </div>
                    <div class="ibox-body">
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-2 form-group">
                            <select class="form-control input-sm" name="line_manager">
                                <option value="d">All Regions</option>
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <select class="form-control input-sm" name="line_manager">
                                <option value="d">All Service User</option>
                            </select>
                        </div>

                        <div class="col-sm-2 form-group">
                            <select class="form-control input-sm" name="line_manager">
                                <option value="d">All Visit Type</option>
                            </select>
                        </div>

                        <div class="col-sm-2 form-group">
                            <select class="form-control input-sm" name="line_manager">
                                <option value="d">All Staff</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Get Visits</button>
                        </div>
                    </form>
                    </div>
                </div>               
                
            </div>



            <style>
                .button-container {
                    display: flex;
                    justify-content: space-between;
                    {% comment %} padding: 10px; {% endcomment %}
                    border-radius: 5px;
                    max-width: 100%;
                    margin: auto;
                }
            
                .button-container button {
                    padding: 10px;
                    margin-right: 10px; /* Add margin between buttons */
                    background-color: #337ab7;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            
                .dropdown {
                    margin-left: auto;
                }
            
                .dropdown select {
                    padding: 10px;
                }
            </style>




            <div class="button-container">
                <button>Current Visits</button>
                <button>Archived Visits</button>
                <button><i class="fa fa-plus"></i> <strong>Add Visit</strong></button>
                
                
                
                <div class="dropdown">
                        <select>
                            <option value="d">All Staff</option>
                        </select>

                       
                            <button class="btn btn-primary" type="submit">Go</button>
                        
                </div>
              </div>



            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Data Table</div>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Time</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Frequency</th>
                                    <th>Type of Visit</th>
                                    <th>No. Carers</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>12:00am - 8:00pm</td>
                                    <td>Mrs Rita Stevens</td>
                                    <td>Service User Home</td>
                                    <td>Weekly</td>
                                    <td>Live-in Care</td>
                                    <td>1</td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

            

            <!-- END PAGE CONTENT-->

{% endblock content %}

